<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bear.hospital.mapper.PatientMapper">

    <!-- 统计患者年龄分布 -->
    <select id="patientAge" resultType="Integer">
        select count(p_id) as agePeople from patient
        where p_age BETWEEN #{startAge} AND #{endAge}
    </select>

    <!-- 根据手机号查询患者信息（新增） -->
    <select id="selectByPhone" resultType="com.bear.hospital.pojo.Patient">
        SELECT
            p_id,
            p_password,
            p_name,
            p_gender,
            p_card,
            p_email,
            p_phone,
            p_state,
            p_birthday,
            p_age
        FROM patient
        WHERE p_phone = #{phone}
          AND p_state = 1
            LIMIT 1
    </select>

</mapper>